.header{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.dashboard-header {
    color: white;
    font: Poppins;
}

.exercise-container {
    color: white;
}

.header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 54px;
    width: 70%;
}