.header{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.dashboard-header {
    color: white;
    font: Poppins;
}

.exercise-container {
    color: white;
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 4%;
}

.header-img {
    display: block;        
    margin: 0 auto;        
    width: 70%;
}

.add-exercise {
  color: white;
  font-size: 1em;
  font-weight: 900;             
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 4%;
}

