@import "tailwindcss";

* {
    font-family: sans-serif;
}

body {
    background-color: rgb(0, 0, 0) !important;
}

#exercise-template {
    display: none;
}

#modify-exercise-weight {
    display: none;
}

.page-header {
    display: flex;
    font-size: 40px;
}

.exercise-group-header {
    font-weight: 750;
    font-size: 1.5em;
    font-family: Times New Roman;
    color: #E0BB20;
    margin-bottom: 15px;
}

.exercise-name-input {
    width: 39%;
    height: 30px;
}

.exercise-weight-input {
    width: 39%;
    height: 30px;
} 

.exercise-record-box {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 40px;
    color: black;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.exercise-weight {
    margin-left: 40px;
    color: rgb(231, 50, 50);
}

.exercise-name {
    font-size: 1em;
    font-weight: 600;
    color: black;
}

.modify-weight-button {
    position: absolute;
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 90%;
}

.addExerciseButton {
color: black;
margin-top: 5px;
border-radius: 5px;
}

.exercise-line {
margin-bottom: 5px;
}